/* base styles - override these in your theme stylesheet */

.slickQuizWrapper .button {
    float: left;
    width: auto;
    padding: 5px 15px;
    color:#ffffff !important;
    background-color:darkcyan;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.slickQuizWrapper .button:hover {
    background-color:darkslategray !important;
}

.slickQuizWrapper .button.backToQuestion {
    background: #ccc;
}

.slickQuizWrapper .button.tryAgain {
    float: none;
}

.slickQuizWrapper .buttonWrapper .button {
    margin-top: 20px;
}

.slickQuizWrapper .buttonWrapper .button.disabled {
    margin-top: 20px;
    cursor: default;
    background-color: #888;
    opacity: 0.5;
}

.slickQuizWrapper .nameLabel, .slickQuizWrapper .emailLabel {
    margin-top: 20px;
}

.slickQuizWrapper input,
.slickQuizWrapper input + label {
    cursor: pointer;
}

.slickQuizWrapper input:disabled,
.slickQuizWrapper input:disabled + label {
    opacity: .8;
    cursor: not-allowed;
}

.slickQuizWrapper .quizArea, .slickQuizWrapper .quizResults {
    margin-bottom: 40px;
}

/* clearfix */
.slickQuizWrapper .quizArea, .slickQuizWrapper .quizResults {
    zoom: 1;
}
.slickQuizWrapper .quizArea:before, .slickQuizWrapper .quizArea:after,
.slickQuizWrapper .quizResults:before, .slickQuizWrapper .quizResults:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
.slickQuizWrapper .quizArea:after, .slickQuizWrapper .quizResults:after {
    clear: both;
}

.slickQuizWrapper .questionCount {
    font-size: .9em;
    font-style: italic;
}
.slickQuizWrapper .questionCount span {
    font-weight: bold;
}

.slickQuizWrapper .question > h3 p {
    display: inline-block;
    margin: 0;
}

.slickQuizWrapper ul.responses,
.slickQuizWrapper ol.questions,
.slickQuizWrapper ol.questions li {
    margin-left: 0;
    padding-left: 0;
}

.slickQuizWrapper ul.answers {
    margin-bottom: 20px;
}

.slickQuizWrapper ul.responses li {
    margin: 10px 20px 20px;
}
.slickQuizWrapper ul.responses li p span {
    display: block;
    font-weight: bold;
}

.slickQuizWrapper ul.answers li.correct,
.slickQuizWrapper ul.responses li.correct p span {
    color: #6C9F2E;
}
.slickQuizWrapper ul.responses li.incorrect p span {
    color: #B5121B;
}

.slickQuizWrapper .quizResultsCopy h3 {
    margin: 0;
}
.slickQuizWrapper .quizResultsCopy h3 span {
    font-weight: normal;
    font-style: italic;
}
.slickQuizWrapper .quizResultsCopy {
    margin-top: 20px;
}


/* Share Buttons */

.slickQuizWrapper .quizShare {
    margin: 1em 0;
}

.slickQuizWrapper .quizShare a {
    display: inline-block;
    background: #efefef;
    color: #5993A8;
    margin-right: 10px;
    padding: 8px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition-duration: 0;
}

.slickQuizWrapper .quizShare a:hover {
    background: #e1e1e1;
    border: none;
    color: #4a4a4a;
    text-decoration: none;
}

.slickQuizWrapper .quizShare a:hover i {
    background-position: left -34px;
}

.slickQuizWrapper .quizShare i,
.slickQuizWrapper .quizShare span {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
}

.slickQuizWrapper .quizShare i {
    width: 24px;
    margin: 0 3px 0 0;
}

.slickQuizWrapper .quizShare .facebook {
    margin-right: 0;
}
