/* base styles - overright these in your theme stylesheet */

.slickQuizWrapper .button {
    float: left;
    width: auto;
    padding: 5px 15px;
    color:#ffffff !important;
    background-color:darkcyan;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.slickQuizWrapper .button:hover {
    background-color:darkslategray !important;
}

.buttonWrapper .button {
    margin-top: 20px;
}

.buttonWrapper .button.disabled {
    margin-top: 20px;
    cursor: default;
    background-color: #888;
    opacity: 0.5;
}

.slickQuizWrapper .nameLabel {
    margin-top: 20px;
}

.quizArea, .quizResults {
    margin-bottom: 40px;
}

/* clearfix */
.quizArea, .quizResults {
    zoom: 1;
}
.quizArea:before, .quizArea:after, .quizResults:before, .quizResults:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
.quizArea:after, .quizResults:after {
    clear: both;
}

.questionCount {
    font-size: .9em;
    font-style: italic;
}
.questionCount span {
    font-weight: bold;
}

.slickQuizWrapper ul.responses,
.slickQuizWrapper ol.questions,
.slickQuizWrapper ol.questions li {
    margin-left: 0;
    padding-left: 0;
}

.slickQuizWrapper ul.answers {
    margin-bottom: 20px;
}

.slickQuizWrapper ul.responses li {
    margin: 10px 20px 20px;
}
.slickQuizWrapper ul.responses li p span {
    display: block;
    font-weight: bold;
}
.slickQuizWrapper ul.responses li.correct p span {
    color: #6C9F2E;
}
.slickQuizWrapper ul.responses li.incorrect p span {
    color: #B5121B;
}

.quizResultsCopy h3 {
    margin: 0;
}
.quizResultsCopy h3 span {
    font-weight: normal;
    font-style: italic;
}
.quizResultsCopy {
    margin-top: 20px;
}
